<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174025143773-gv7b1ps1miccruucgjrb38iu2tlbdt2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174025143773-gv7b1ps1miccruucgjrb38iu2tlbdt2g</string>
	<key>API_KEY</key>
	<string>AIzaSyBEngs1iqBD-MGALhk2LzWz-G0VR4DyAjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>174025143773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devd.pizzatoFirebase</string>
	<key>PROJECT_ID</key>
	<string>pizzato-3c5e8</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzato-3c5e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174025143773:ios:f1efd0ad6502b154087234</string>
	<key>DATABASE_URL</key>
	<string>https://pizzato-3c5e8.firebaseio.com</string>
</dict>
</plist>